body {
  background-color: #F5F5F5;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  /* background-image: url("./champs.jpg_large"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* color: white; */
}

a {
  color: #007FFF;
}

label {
  font-size: 16px;
  font-weight: 700;
}

.arc text {
  font: 12px sans-serif;
  text-anchor: middle;
  font-weight: 700;
}

.arc path {
  stroke: #fff;
}

.arc2 text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc2 path {
  stroke: #fff;
}

.row{
  display: grid;
  grid-template-columns: minmax(250px, 4fr) minmax(250px, 7fr);
  grid-column-gap: 5px;
  margin-bottom: 10px;
  grid-row-gap: 10px;
  overflow: hidden;
  width: 1000px;
  text-align: center;
}

.horizontalContainer{
  flex-direction: row;
}

.left-container1 {
  display: block;
  margin-right: 10px;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
  background-color: #0099e5;
  color: white;
  justify-content: center;
  align-items: center;
}

.left-container2 {
  display: block;
  margin-right: 10px;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
  background-color: white;
}

.left-container3 {
  display: block;
  margin-right: 10px;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
  background-color: #0099e5;
  color: white;
  justify-content: center;
}

.right-container {
  display: block;
  margin-left: 10px;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
  background-color: white;
}


.seasonAvgs {
  padding: 10px 5px 10px 5px;
}


.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.yAxis3{
  position: relative;
  transform: rotate(-90deg);
  transform-origin: right, top;
  -ms-transform: rotate(-90deg);
  -ms-transform-origin:right, top;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin:right, top;
  top: 60%;
  left: -45%;
}
.icons a:hover{
  color: #2196F3;
}

.bar{
  fill: steelblue;
}

.bar:hover{
  fill: brown;
}

.netWorth {
  text-decoration: none;
  color: white;
}

text *{
  z-index: 2;
}

#trendLine {
  overflow: scroll;
  margin-bottom: 20px;
}

#trendStats {

}

#seasonComp {
  margin-top: -45px;
  margin-left: 40px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

#SC30header {
  display: flex;
}
