body {
  background-color: #F5F5F5;
  margin-left: 50px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

a {
  color: #007FFF;
}

label {
  font-size: 16px;
  font-weight: 700;
}

#seasonComp {
  margin-top: -45px;
  margin-left: 40px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}
.row{
  display: flex;
  text-align: center;
  height: 300px;
  margin-bottom: 20px;
  overflow: hidden;
}

.horizontalContainer{
  display:flex;
  flex-direction: row;
}

/* .scoringContainer{
  height: 400px;
} */

.yAxis1{
  transform: rotate(-90deg);
   transform-origin: right, top;
   -ms-transform: rotate(-90deg);
   -ms-transform-origin:right, top;
   -webkit-transform: rotate(-90deg);
   -webkit-transform-origin:right, top;
   position: absolute;
   left: 420px;
   top: 250px;
}


.yAxis3{
  /* margin-bottom: 200px;
  transform: rotate(-90deg); */
  transform: rotate(-90deg);
   transform-origin: right, top;
   -ms-transform: rotate(-90deg);
   -ms-transform-origin:right, top;
   -webkit-transform: rotate(-90deg);
   -webkit-transform-origin:right, top;
   position: absolute;
   left: 420px;
   bottom: -125px;
}

.left-container {
  display: inline-block;
  width: 350px;
  height: 280px;
  margin-right: 10px;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
}

.right-container {
  display: inline-block;
  width: 700px;
  height: 280px;
  margin-left: 10px;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
}


.seasonAvgs {
  padding: 10px 5px 10px 5px;
}

.careerAvgs {
  padding: 0px 5px 0px 5px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

#trendLine {
  overflow: scroll;
  margin-bottom: 20px;
}

#trendStats {

}

/* #seasonComp rect {
  fill: #104E8B;
}
#seasonComp rect:hover {
   fill: blue;
} */

/*
#seasonComp *{
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

#seasonComp *:hover{
  background-color: brown;
} */
